.left_sec h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #26366b;
  margin-top: 50px;
}
.left_sec p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4c577c;
}
.circle_1 {
  width: 24px;
  height: 24px;
  background: #0072bc;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin-right: 25px;
}

.circle_3 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 30px 0 5px;
  background: #9dcdfc;
  border: 1px solid #0072bc;
}
.step1_txt p,
.step1_txt h6,
.step2_txt p,
.step2_txt h6,
.step3_txt p,
.step3_txt h6 {
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
}
.step1_txt p,
.step2_txt p {
  font-size: 11px;
  color: #7a83a0;
}
.step1_txt h6,
.step2_txt h6 {
  font-size: 16px;
  color: #26366b;
}
.step3_txt p {
  font-size: 11px;
  color: #7a83a0;
}
.step3_txt h6 {
  font-size: 16px;
  color: #7a83a0;
}
.stepper_line {
  position: relative;
}
.stepper_line:before,
.stepper_line::after {
  content: "";
  height: 70px;
  width: 0px;
  border: 1px dashed #0095d9;
  position: absolute;
  left: 11px;
  z-index: -1;
}
.stepper_line:before {
  bottom: 20px;
}
.stepper_line::after {
  top: 22px;
}
.step1_mob{
  display: none;
}
@media (max-width: 575.98px) {
  .step1_mob{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 40%;
  }
  .left_sec h1 {
    font-size: 18px;
    line-height: 23px;
    margin-top: 30px;
  }
  .left_sec p {
    font-size: 12px;
    line-height: 18px;
  }
  .form_wrapper {
    padding: 60px 15px;
  }
}
@media (max-width: 400px) {
  .step1_mob{
    width: 50%;
  }
}